.card-list{
    display: flex;
    /* flex-direction: row; */
    /* height: 400px; */
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    
    /* align-content: flex-end; */
    padding :2%;
    margin: 2%;
    /* border: 3px solid rgb(139, 139, 139);  */
    border-radius: 5px;
    
}
 
