.card-container {
  color : rgb(243, 238, 233);
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 113, 179, 0.507);
  border: 1px solid rgb(0, 111, 191);
  padding: 8px;
  margin: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  height: 350px;
    width: 250px;
    
}

.card-container:hover{
    transform : scale(1.05);
}
